[
  {
    "name": "ColDeTourniol",
    "strava_segment_id": 674165
  },
  {
    "name": "ColDesLimouches",
    "strava_segment_id": 628965
  },
  {
    "name": "Cavalli-CoteBlanche",
    "strava_segment_id": 3805038
  },
  {
    "name": "PetitLimouches",
    "strava_segment_id": 3805038
  },
  {
    "name": "Tamée",
    "strava_segment_id": 20605873
  }
]
