<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Fit2segments</title>
    <link rel="stylesheet" href="index.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
      integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
      crossorigin=""
    />
  </head>
  <body>
    <div id="app" class="grid-container">
      <div class="header">
        <h1>Strobo, parce que Strava en pas plus bo. Mais qui marche.</h1>
      </div>
      <div id="activities">
        Browse activities:
        <ul>
          <activity-item
            v-for="activity in activities"
            :main_content="content"
            :activity="activity"
            :key="activity.name"
          >
          </activity-item>
        </ul>
      </div>
      <div id="segmentDefinitions">
        Browse segments:
        <ul>
          <segment-definition-item
            v-for="segmentDefinition in segmentDefinitions"
            :segment-definition="segmentDefinition"
            :key="segmentDefinition.name"
          >
          </segment-definition-item>
        </ul>
      </div>
      <div class="content">
        <div id="mapid"></div>
        <div v-if="data_to_render_type === 'activity'">
          <h5>{{ data_to_render.start_time_str }}</h5>
          <ul>
            <li>{{ data_to_render.duration_str }}</li>
            <li>{{ (data_to_render.distance /1000).toFixed(2) }} kms</li>
          </ul>
          <ol>
            <segment-in-activity-context-item
              v-for="segment in context"
              :segment="segment"
              :key="segment.segment_uid"
            >
            </segment-in-activity-context-item>
          </ol>
        </div>
        <div v-else-if="data_to_render_type === 'segmentDefinition'">
          <h5>{{ data_to_render.name }}:</h5>
          <table>
            <thead>
              <tr>
                <th>Date</th>
                <th>Duration</th>
                <th>HR</th>
                <th>Cadence</th>
                <th>Speed</th>
                <th>Temp.</th>
              </tr>
            </thead>
            <tbody>
              <tr
                is="segment-in-definition-context-item"
                v-for="segment in context"
                :segment="segment"
                :key="segment.start_time_str"
              ></tr>
            </tbody>
          </table>
        </div>
        <div v-else>
          Unknown
        </div>
      </div>
      <div class="footer"><i>Complètement expérimental et moche.</i></div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script
      src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
      integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
      crossorigin=""
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="userdata/data.js"></script>
    <script src="userdata/accessToken.js"></script>
    <script src="index.js"></script>
  </body>
</html>
